.dropDown{
    margin-top: 2%;
    width: 100%;
    background-color: #A5B9B9;
    height: 2.5em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

p{
    margin-left: 2%;
}


.form{
    margin-left: 1%;
    height: 70%;
    width: 98%;
    background-color: #F5F5F5;
    border: 2px solid #A5B9B9 ;
    border-radius: 10px;
    transition: max-height 0.3s ease;
}

.show {
    display: flex;
    max-height: 550px; 
    opacity: 1; 
    transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out; 
}

.hide{
    display: none;
    max-height: 0; 
    opacity: 0; 
    transition: max-height 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.inputsFlex{
    margin: 1%;
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

.inputsFlex div{
    flex: 0 0 calc(50% - 10px); 
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.inputsFlex div:nth-child(2n+1):last-child {
    flex: 0 0 100%; /* Última div ocupa 100% do espaço */
}

.info input{
    border-radius: 5px;
    height: 2em;
    width: 100%;
}

.info p{
    margin: 0;
}

.info2 input{
    display: none;
}

.info2 p{
    margin: 0;
}

.uploadInput{
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}