.container{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.register{
    width:96%;
    margin-left: 0%;
    align-self: center;
    height: 100vh;
    overflow-y: scroll;
}

h1{
    font-size: 22px;
    margin-left: 3%;
}

.divButtons{
    margin: 0px 25px 10px 0px;
    display: flex;
    justify-content: end;
}
.divButtons button{
    background-color: #78504b;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.divButtons :last-child{
    background-color: #507878;
}